.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh !important;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgb(0, 0, 0, 0.2);
}